In [8]:
%%sh

ls -ltr ~/data/files/avocado.csv

-rw-rw-r-- 1 sahil_gogna_sahil sahil_gogna_sahil 1970947 Dec 31 03:07 /home/sahil_gogna_sahil/data/files/avocado.csv

In [ ]:
%%sh

tail ~/data/files/avocado.csv

2,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.0,organic,2018,WestTexNewMexico
3,2018-03-04,1.54,17393.3,1832.24,1905.57,0.0,13655.49,13401.93,253.56,0.0,organic,2018,WestTexNewMexico
4,2018-02-25,1.57,18421.24,1974.26,2482.65,0.0,13964.33,13698.27,266.06,0.0,organic,2018,WestTexNewMexico
5,2018-02-18,1.56,17597.12,1892.05,1928.36,0.0,13776.71,13553.53,223.18,0.0,organic,2018,WestTexNewMexico
6,2018-02-11,1.57,15986.17,1924.28,1368.32,0.0,12693.57,12437.35,256.22,0.0,organic,2018,WestTexNewMexico
7,2018-02-04,1.63,17074.83,2046.96,1529.2,0.0,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
8,2018-01-28,1.71,13888.04,1191.7,3431.5,0.0,9264.84,8940.04,324.8,0.0,organic,2018,WestTexNewMexico
9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.8,42.31,0.0,organic,2018,WestTexNewMexico
10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.0,0.0,organic,2018,WestTexNewMexico
11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [2]:
# make sure path is absolute path
path = '../../data/files/avocado.csv'
avocado_file = open(path)

In [3]:
type(avocado_file)

_io.TextIOWrapper

In [5]:
raw_file = avocado_file.read()

In [12]:
type(raw_file)

str

In [6]:
sales = raw_file.splitlines()

In [7]:
type(sales)

list

In [16]:
sales[1:10]

['0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany',
 '1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany',
 '2,2015-12-13,0.93,118220.22,794.7,109149.67,130.5,8145.35,8042.21,103.14,0.0,conventional,2015,Albany',
 '3,2015-12-06,1.08,78992.15,1132.0,71976.41,72.58,5811.16,5677.4,133.76,0.0,conventional,2015,Albany',
 '4,2015-11-29,1.28,51039.6,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany',
 '5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.0,conventional,2015,Albany',
 '6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.0,conventional,2015,Albany',
 '7,2015-11-08,0.98,109428.33,703.75,101815.36,80.0,6829.22,6266.85,562.37,0.0,conventional,2015,Albany',
 '8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.0,conventional,2015,Albany']

In [17]:
len(sales)

18250

In [26]:
sales[1].split(',')

['0',
 '2015-12-27',
 '1.33',
 '64236.62',
 '1036.74',
 '54454.85',
 '48.16',
 '8696.87',
 '8603.62',
 '93.25',
 '0.0',
 'conventional',
 '2015',
 'Albany']

In [35]:
# convert each line into a tuple of date, avg price, total volume, region
def filterSales(sale):
    split_sale = sale.split(',')
    return (split_sale[1], float(split_sale[2]), float(split_sale[3]), split_sale[13])

In [36]:
sales_filtered = [filterSales(sale) for sale in sales[1:]]

In [37]:
sales_filtered[1]

('2015-12-20', 1.35, 54876.98, 'Albany')

In [41]:
# Now if we want to get just id and avgprice as 'id, avgprice' for each record, we write a new function
def join_demo(sale):
    return ','.join([sale.split(',')[0], sale.split(',')[2]])

In [42]:
id_price = [join_demo(sale) for sale in sales[1:]]

In [43]:
id_price[:10]

['0,1.33',
 '1,1.35',
 '2,0.93',
 '3,1.08',
 '4,1.28',
 '5,1.26',
 '6,0.99',
 '7,0.98',
 '8,1.02',
 '9,1.07']

In [44]:
# we can also use append function and for loop
id_and_price = []
for sale in sales[1:]:
    id_and_price.append(','.join([sale.split(',')[0], sale.split(',')[2]]))

In [45]:
id_and_price[:10]

['0,1.33',
 '1,1.35',
 '2,0.93',
 '3,1.08',
 '4,1.28',
 '5,1.26',
 '6,0.99',
 '7,0.98',
 '8,1.02',
 '9,1.07']

In [46]:
len(id_and_price)

18249

In [47]:
# we can also convert each row into a dict using this function
def get_sales_dict(sale):
    sale_element = sale.split(',')
    return ({
        'date' : sale_element[1], 
        'avg price' : sale_element[2], 
        'total volume' : sale_element[3], 
        'region': sale_element[13]
    })

In [48]:
sale_dict = [get_sales_dict(sale) for sale in sales[1:]]

In [49]:
sale_dict[:10]

[{'date': '2015-12-27',
  'avg price': '1.33',
  'total volume': '64236.62',
  'region': 'Albany'},
 {'date': '2015-12-20',
  'avg price': '1.35',
  'total volume': '54876.98',
  'region': 'Albany'},
 {'date': '2015-12-13',
  'avg price': '0.93',
  'total volume': '118220.22',
  'region': 'Albany'},
 {'date': '2015-12-06',
  'avg price': '1.08',
  'total volume': '78992.15',
  'region': 'Albany'},
 {'date': '2015-11-29',
  'avg price': '1.28',
  'total volume': '51039.6',
  'region': 'Albany'},
 {'date': '2015-11-22',
  'avg price': '1.26',
  'total volume': '55979.78',
  'region': 'Albany'},
 {'date': '2015-11-15',
  'avg price': '0.99',
  'total volume': '83453.76',
  'region': 'Albany'},
 {'date': '2015-11-08',
  'avg price': '0.98',
  'total volume': '109428.33',
  'region': 'Albany'},
 {'date': '2015-11-01',
  'avg price': '1.02',
  'total volume': '99811.42',
  'region': 'Albany'},
 {'date': '2015-10-25',
  'avg price': '1.07',
  'total volume': '74338.76',
  'region': 'Albany'}]

In [9]:
# now if we want to get all the unique dates, we will use a set
sales_set = set()
for sale in sales[1:]:
    sales_set.add(sale.split(',')[1])

In [10]:
len(sales_set)

169

In [12]:
list(sales_set)[:10]

['2015-07-26',
 '2015-01-18',
 '2015-10-11',
 '2016-04-03',
 '2017-08-06',
 '2017-12-31',
 '2016-05-08',
 '2016-01-24',
 '2017-12-17',
 '2017-03-12']

In [13]:
# we can also perform the one liner 
sales_set = {sale.split(',')[1] for sale in sales[1:]}

In [15]:
len(sales_set)

169

In [ ]:
# Unique weekend dates

In [16]:
import datetime as dt

In [18]:
sale_date = '2015-07-26'

In [19]:
dt.datetime.strptime(sale_date, '%Y-%m-%d')

datetime.datetime(2015, 7, 26, 0, 0)

In [20]:
dt.datetime.strptime(sale_date, '%Y-%m-%d').weekday() # Returns 0 to 6 (for Monday to Sunday)

6

In [21]:
import calendar

In [22]:
list(calendar.day_name)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [23]:
calendar.day_name[dt.datetime.strptime(sale_date, '%Y-%m-%d').weekday()]

'Sunday'

In [24]:
dt.datetime.strptime(sale_date, '%Y-%m-%d').weekday() in (5,6)

True

In [46]:
import datetime as dt
def is_weekend(sale_date):
    return dt.datetime.strptime(sale_date, '%Y-%m-%d').weekday() in (5, 6)

In [36]:
import datetime
wrong_date = set()
def validate(date_text):
    try:
        datetime.datetime.strptime(date_text, '%Y-%m-%d')
    except ValueError:
        wrong_Date.add(date_text)

In [31]:
for sale in sales[1:]:
    validate(sale.split(',')[1])

In [32]:
wrong_date

{}

In [47]:
weekend_dates = set()
for sale in sales[1:]:
    sale_date = sale.split(',')[1]
    if is_weekend(sale_date):
        weekend_dates.add(sale_date)

In [49]:
len(weekend_dates)

169