In [1]:
import pandas as pd

In [2]:
sals_ld = [(1, 1500.0), (2, 2000.0, 10.0), (3, 2200.00)]

In [3]:
s_df = pd.DataFrame(sals_ld)

In [4]:
s_df

   0       1     2
0  1  1500.0   NaN
1  2  2000.0  10.0
2  3  2200.0   NaN

In [5]:
s_df[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [6]:
s_df[0][0]

1

In [7]:
s2_df = pd.DataFrame(sals_ld, columns = ['id', 'sal', 'com'])

In [8]:
s2_df

   id     sal   com
0   1  1500.0   NaN
1   2  2000.0  10.0
2   3  2200.0   NaN

In [9]:
s2_df['id']

0    1
1    2
2    3
Name: id, dtype: int64

In [11]:
s2_df[['id', 'sal']]

   id     sal
0   1  1500.0
1   2  2000.0
2   3  2200.0

In [12]:
sals_ld = [
    {'id': 1, 'sal': 1500.0},
    {'id': 2, 'sal': 2000.0},
    {'id': 3, 'sal': 2200.0}
]

In [14]:
s3_df = pd.DataFrame(sals_ld)

In [15]:
s3_df

   id     sal
0   1  1500.0
1   2  2000.0
2   3  2200.0