In [ ]:
## series is just like list, but it can also be formed from a dictionary

In [1]:
d = {"JAN": 10, "FEB": 15, "MAR": 12, "APR": 16}

In [8]:
d['JAN']

10

In [9]:
import pandas as pd
s = pd.Series(d)

In [12]:
s['JAN']

10

In [13]:
s[0]

10

In [14]:
s

JAN    10
FEB    15
MAR    12
APR    16
dtype: int64

In [15]:
import pandas as pd
s = pd.Series(d, name='val')

In [16]:
s

JAN    10
FEB    15
MAR    12
APR    16
Name: val, dtype: int64

In [17]:
s[1:3]

FEB    15
MAR    12
Name: val, dtype: int64

In [18]:
s.sum()

53

In [20]:
orders_path = '../../data/files/orders.txt'

orders_schema = [
  "order_id",
  "order_date",
  "order_customer_id",
  "order_status"
]

In [23]:
## we can read the csv file directly into a data frame

orders_df = pd.read_csv(orders_path, header = None, names = orders_schema)

In [24]:
orders_df

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [26]:
orders_df.order_status

0                 CLOSED
1        PENDING_PAYMENT
2               COMPLETE
3                 CLOSED
4               COMPLETE
              ...
68878           COMPLETE
68879           COMPLETE
68880    PENDING_PAYMENT
68881            ON_HOLD
68882           COMPLETE
Name: order_status, Length: 68883, dtype: object

In [27]:
type(orders_df.order_status)

pandas.core.series.Series

In [28]:
status_series = orders_df.order_status

In [30]:
status_series[5]

'COMPLETE'